@font-face{
  src:url(../font/arial.ttf);
  font-family: my-font-arial;
}

body{
  font-family: my-font-arial ;
}

.form{
	width:230px;
	margin: 0 auto;
}

a {
    color: #0067ab; 
    text-decoration:none;
}

input[type= 'text'], input[type = 'password'] {
  margin-top: 10px;
  font-size: 14px;     
}

input[type= 'submit'] {
        margin-top: 10px;
        width: 100px;
        color: #fff;
        background-color: #0067ab;
        font-size: 16px;
        cursor:pointer;
             
}
